@import "tailwindcss";

@theme inline {
	--font-sans:
		var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-montserrat:
		var(--font-montserrat), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
	html {
		font-family: var(--font-inter), sans-serif;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-montserrat), sans-serif;
	}
}

@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	a,
	input,
	button {
		@apply focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
	}

	a {
		@apply underline-offset-4;
	}

	button:not(:disabled) {
		@apply cursor-pointer;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
	img[loading="lazy"] {
		clip-path: inset(0.6px);
	}
}
