@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
	--font-be-vietnam-pro:
		var(--font-be-vietnam-pro), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-livvic:
		var(--font-livvic), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
	html {
		font-family: var(--font-livvic), sans-serif;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-be-vietnam-pro), sans-serif;
	}
}

@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	a,
	input,
	button {
		@apply focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50;
	}

	a {
		@apply underline-offset-4;
	}

	button:not(:disabled) {
		@apply cursor-pointer;
	}
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
	img[loading="lazy"] {
		clip-path: inset(0.6px);
	}
}
